/* =====================
   SIDEBAR (EXPANDED & COLLAPSED)
   ===================== */

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 260px; /* expanded */
  height: 100vh;
  background: #fff;
  padding: 20px;
  z-index: 3000;
  display: flex;
  flex-direction: column;
  transition: width 0.28s ease;
}

.sidebar.collapsed {
  width: 70px; /* collapsed */
  padding: 20px;
}

/* FLOATING LOGO */
.sidebar-floating-logo {
  position: fixed;
  top: 18px;
  left: 70px;
  height: 34px;
  opacity: 1;
  z-index: 3500;
  transition: opacity 0.2s ease, left 0.28s ease;
}

/* Saat sidebar collapsed → logo hilang */
.sidebar.collapsed ~ #sidebarLogo {
  opacity: 0;
  pointer-events: none;
}


/* MENU */
.sidebar-menu {
  display: flex;
  flex-direction: column;
  gap: 35px;
  margin-top: 100px;
}

.sidebar-item {
  display: flex;
  align-items: center;
  gap: 14px;
  font-size: 14px;
  color: #2c2c2c;
  text-decoration: none;
  font-weight: 500;
  transition: gap 1s ease;
}

.sidebar-item:hover span {
  font-weight: 600;
}

.sidebar-text {
  display: inline-block;
  width: 130px;      /* FIXED — ikon tidak akan bergerak */
  white-space: nowrap;
  overflow: hidden;
  font-weight: 400;
  transition: opacity 0.25s ease;
}

.sidebar.collapsed .sidebar-text {
  opacity: 0;
}

.sidebar-icon {
  width: 22px;
  height: 22px;
  flex-shrink: 0;
  object-fit: contain;
  filter: brightness(0) saturate(100%) invert(42%) sepia(77%) 
          saturate(1629%) hue-rotate(342deg) brightness(94%) contrast(97%);
}

/* HAMBURGER BUTTON */
.sidebar-hamburger {
  position: fixed;
  top: 18px;
  left: 18px;
  z-index: 3500;
  background: none;
  border: none;
  cursor: pointer;
}

.sidebar-hamburger img {
  width: 28px;
  height: 28px;
  transition: transform 0.3s ease;
}

.sidebar-hamburger.rotated img {
  transform: rotate(90deg);
}

/* CONTENT SHIFT */
.push-expanded {
  transform: translateX(260px);
  transition: transform 0.28s ease;
}

.push-collapsed {
  transform: translateX(70px);
  transition: transform 0.28s ease;
}

#content-wrapper {
  transition: transform 0.28s ease;
}

/* Content wrapper shift*/
#content-wrapper {
  transition: margin-left 0.28s ease;
  margin-right: 100px;
}

/* When sidebar is expanded */
.content-expanded {
  margin-left: calc(260px + 50px);
}

/* When sidebar is collapsed */
.content-collapsed {
  margin-left: calc(70px + 50px);
}