<footer class="footer">
  <div class="footer-inner">

    <!-- COLUMN 1 — INFORMATION -->
    <div class="footer-col">
      <h3>Information</h3>
      <div class="footer-line"></div>

      <a href="#" class="footer-link">About Us</a>
      <a href="#" class="footer-link">Terms</a>
      <a href="#" class="footer-link">Privacy</a>
      <a href="#" class="footer-link">uRoamPoints</a>
    </div>

    <!-- COLUMN 2 — ADDRESS -->
    <div class="footer-col">
      <h3>Address</h3>
      <div class="footer-line"></div>

      <p>PT. uRoam Bali Tours Indonesia</p>
      <p>uRoam Building</p>
      <p>Jl. Universitas Udayana No. 99</p>
      <p>Kuta Selatan, Jimbaran</p>
      <p>Indonesia, 80361</p>

      <p>For assistance, please call uRoam</p>

      <a href="tel:+621234567890" class="footer-contact">
        <span class="footer-icon-circle"><img src="../images/icons/ic-telephone.svg" alt=""></span>
        +6212 3456 7890
      </a>

      <a href="mailto:uRoam@uroam.com" class="footer-contact">
        <span class="footer-icon-circle"><img src="../images/icons/ic-email.svg" alt=""></span>
        uRoam@uroam.com
      </a>

      <a href="#" class="footer-contact">
        <span class="footer-icon-circle"><img src="../images/icons/ic-whatsapp.svg" alt=""></span>
        WhatsApp uRoam
      </a>
    </div>

    <!-- COLUMN 3 — SOCIAL -->
    <div class="footer-col">
      <h3>Social</h3>
      <div class="footer-line"></div>

      <a href="#" class="footer-social">
        <span class="footer-icon-circle"><img src="../images/icons/ic-instagram.svg" alt=""></span>
        Instagram
      </a>

      <a href="#" class="footer-social">
        <span class="footer-icon-circle"><img src="../images/icons/ic-tiktok.svg" alt=""></span>
        TikTok
      </a>

      <a href="#" class="footer-social">
        <span class="footer-icon-circle"><img src="../images/icons/ic_linkedin.svg" alt=""></span>
        Linkedin
      </a>

      <a href="#" class="footer-social">
        <span class="footer-icon-circle"><img src="../images/icons/ic_facebook.svg" alt=""></span>
        Facebook
      </a>

    </div>
  </div>

  <div class="footer-bottom footer-container">
    <div class="footer-divider"></div>
    <p class="footer-copy">Copyright © 2025 uRoam Bali Tours Indonesia. All rights reserved.</p>
  </div>
</footer>
