<a href="home.php">
    <img id="sidebarLogo" src="../images/logo.png" alt="uRoam Logo" class="sidebar-floating-logo">
</a>

<div id="sidebar" class="sidebar">
  <nav class="sidebar-menu">
    <a href="home.php" class="sidebar-item">
      <img src="../images/icons/home.svg" class="sidebar-icon" alt="">
      <span>Home</span>
    </a>

    <a href="bookings.php" class="sidebar-item">
      <img src="../images/icons/bookings.svg" class="sidebar-icon" alt="">
      <span>Bookings</span>
    </a>

    <a href="performances.php" class="sidebar-item">
      <img src="../images/icons/performances.svg" class="sidebar-icon" alt="">
      <span>Performances</span>
    </a>

    <a href="finance.php" class="sidebar-item">
      <img src="../images/icons/finance.svg" class="sidebar-icon" alt="">
      <span>Finance</span>
    </a>
  </nav>
</div>

<button id="sidebarToggle" class="sidebar-hamburger">
  <img src="../images/icons/burger.svg" alt="">
</button>
